#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------

backend/writable/cache/*
!backend/writable/cache/index.html

backend/writable/logs/*
!backend/writable/logs/index.html

backend/writable/session/*
!backend/writable/session/index.html

backend/writable/uploads/*
!backend/writable/uploads/index.html

backend/writable/debugbar/*
!backend/writable/debugbar/.gitkeep

backend/php_errors.log


#-------------------------
# User Guide Temp Files
#-------------------------
backend/user_guide_src/build/*
backend/user_guide_src/cilexer/build/*
backend/user_guide_src/cilexer/dist/*
backend/user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------

backend/tests/coverage*


# Don't save phpunit under version control.
backend/phpunit

#-------------------------
# Composer
#-------------------------
backend/vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
backend/_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xm

# React Files and Folders
/frontend/node_modules/
# Ignorar arquivos de log
*.log
# Ignorar arquivos temporários
*.tmp

# Diretórios de build
/frontend/build/
frontend/dist/

# Arquivos de log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Arquivos de ambiente
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Diretórios de cobertura de testes
/frontend/coverage/

# Arquivos de cache
/frontend/.eslintcache
/frontend/.next/
frontend/.cache/
frontend/.turbo/

# Arquivos de lock (dependendo do gerenciador de pacotes utilizado)
/frontend/package-lock.json
/frontend/yarn.lock
/frontend/pnpm-lock.yaml

# Diretórios e arquivos de editores
/frontend/.vscode/
frontend/.idea/
frontend/.DS_Store

# Arquivos temporários
/frontend/*.tmp
/frontend/*.swp
/frontend/*.swo
